<footer id="footer">
  <div class="footer_copyright">
    &copy; {{ now.Year }} 
      {{ if .Site.Copyright }} 
        {{ print .Site.Copyright | markdownify }} 
      {{ else }} 
      	{{ print .Site.Title }} 
      {{ end }}
  </div>
    
  <div class="footer_menu">
    {{ range $index, $item := site.Menus.main }}
      <a href="{{ $item.URL }}" {{ with $item.Params.class }} class="{{ . }}" {{ end }}>{{ $item.Name }}</a>
        {{ if ne (add $index 1) (len site.Menus.main) }}
        |
        {{ end }}
    {{ end }}
  </div>
</footer>